#page-index{
    width:auto;
    height:auto;
    background-color: lightgray;
}

.paragraph-container1{
    display:flex;
    flex-direction:row;
    position:relative;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0px;
    gap: 20px;
    width:auto;
    height:auto;
    background-color: green;
    border-radius: 10px;
    align-items:center;
}

.paragraph-container2{
    display:flex;
    flex-direction:row;
    position:relative;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0px;
    gap: 30px;
    width:auto;
    height:auto;
    background-color: green;
    border-radius: 10px;
    align-items:center;
}

.paragraph-container3{
    display:flex;
    flex-direction:row;
    position:relative;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0px;
    gap: 20px;
    width:auto;
    height:auto;
    background-color: green;
    border-radius: 10px;
    align-items:center;
}

.header{
    display:flex;
    flex-direction: center;
    position:relative;
    width:45.1vw;
    height:auto;
    background-color: goldenrod;
    border-radius:10px;
    text-align: center;
}

.image-container{
    position:relative;
    width:500px;
    height:auto;
    background-color: white;
    border-radius:10px;
}

.grid{
    display:flex;
    gap:24px;
    padding:24px;
}

.column{
    flex:1;      /* Equal width for the columns*/
    display:flex;
    flex-direction:column;    /* Vertically stacked*/
    gap:24px;
    min-height:80vh;
}

.panel{
    border:2px solid black;
    padding:14px;
    display:flex;
    flex-direction:column;
}

.panel-title{
    text-align:center;
    margin: 0 0 12px 0;
}

/*Each will have equal height*/
.image-panel,.text-panel{
    flex: 1;
}

/* Image will fill the top of the panel*/
.image-panel img{
    width:100%;
    height:100%;
    object-fit:cover;
    flex:1;
}