#page-index{
    width:auto;
    height:auto;
    background-color: lightgray;
}

.paragraph-container{
    position:relative;
    justify-content: center;
    justify-content: space-evenly;
    width:auto;
    height:auto;
    background-color: lightblue;
    border-radius: 10px;
    align-items:center;
}

.header{
    position:relative;
    width:53vw;
    height:auto;
    background-color: goldenrod;
    border-radius:10px;
}

.h2{
    position:relative;
    width:auto;
    height:auto;
    background-color: lightgreen;
}

.image-container1{
    position:relative;
    width:auto;
    height:auto;
    background-color: white;
}

.image-container2{
    position:relative;
    width:auto;
    height:auto;
    background-color: white;
}

.image-container3{
    position:relative;
    width:auto;
    height:auto;
    background-color: white;
}