#page-index{
    width:auto;
    height:auto;
    background-color: lightgray;
}

.paragraph-container{
    position:relative;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0px;
    width:auto;
    height:auto;
    background-color: green;
    border-radius: 10px;
    align-items:center;
}

.header{
    display:flex;
    flex-direction: center;
    position:relative;
    width:53vw;
    height:auto;
    background-color: goldenrod;
    border-radius:10px;
}

.image-container1{
    position:relative;
    width:auto;
    height:auto;
    background-color: white;
}

.image-container2{
    position:relative;
    width:auto;
    height:auto;
    background-color: white;
}

.image-container3{
    position:relative;
    width:auto;
    height:auto;
    background-color: white;
}
