#page-index{
    width:auto;
    height:auto;
    background-color: lightgreen;
}

.paragraph-container{
    position:relative;
    justify-content: center;
    justify-content: space-evenly;
    width:auto;
    height:auto;
    background-color: lightblue;
    border-radius: 10px;
    align-items:center;
}

.header{
    position:middle;
    width:30vw;
    height:80px;
    background-color: goldenrod;
}