#page-index{
    width:auto;
    height:auto;
    background-color: lightgray;
}

.paragraph-container1{
    display:flex;
    flex-direction:row;
    position:relative;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0px;
    gap: 20px;
    width:auto;
    height:auto;
    background-color: green;
    border-radius: 10px;
    align-items:center;
}

.paragraph-container2{
    display:flex;
    flex-direction:row;
    position:relative;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0px;
    gap: 30px;
    width:auto;
    height:auto;
    background-color: green;
    border-radius: 10px;
    align-items:center;
}

.paragraph-container3{
    display:flex;
    flex-direction:row;
    position:relative;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0px;
    gap: 20px;
    width:auto;
    height:auto;
    background-color: green;
    border-radius: 10px;
    align-items:center;
}

.paragraph-container4{
    display:flex;
    flex-direction:column;
    position:relative;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0px;
    gap: 20px;
    width:auto;
    height:auto;
    background-color: green;
    border-radius: 10px;
    align-items:center;
}

.paragraph-container5{
    display:flex;
    flex-direction:column;
    position:relative;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0px;
    gap: 20px;
    width:auto;
    height:auto;
    background-color: green;
    border-radius: 10px;
    align-items:center;
}

.paragraph-container6{
    display:flex;
    flex-direction:column;
    position:relative;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0px;
    gap: 25px;
    width:auto;
    height:auto;
    background-color: green;
    border-radius: 10px;
    align-items:center;
}

.paragraph-container7{
    display:flex;
    flex-direction:row;
    position:relative;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0px;
    gap: 20px;
    width:auto;
    height:auto;
    background-color: green;
    border-radius: 10px;
    align-items:center;
}

.header{
    display:flex;
    flex-direction: center;
    position:relative;
    width:45.1vw;
    height:auto;
    background-color: goldenrod;
    border-radius:10px;
    text-align: center;
}

.image-container{
    position:relative;
    width:500px;
    height:auto;
    background-color: white;
    border-radius:10px;
}

.display{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
    margin:auto;
    width: 90vw;
    height: 150px;
}

.column{
    padding:20px;
}
