#page-index{
    width:auto;
    height:auto;
    background-color: lightgreen;
}

.paragraph-container{
    position:relative;
    justify-content: center;
    justify-content: space-evenly;
    width:auto;
    height:auto;
    background-color: lightblue;
    border-radius: 10px;
    align-items:center;
}

.header{
    position:fixed;
    width:0;
    height:50%;
    background-color: goldenrod;
    transform: translateX(-50%);
    width:100%;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}