#page-index{
    width:auto;
    height:auto;
    background-color: lightgray;
}

.paragraph-container1{
    display:flex;
    flex-direction:row;
    position:relative;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0px;
    gap: 20px;
    width:auto;
    height:auto;
    background-color: green;
    border-radius: 10px;
    border:2px solid black;
    align-items:center;
}

.paragraph-container2{
    display:flex;
    flex-direction:row;
    position:relative;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0px;
    gap: 30px;
    width:auto;
    height:auto;
    background-color: green;
    border-radius: 10px;
    border:2px solid black;
    align-items:center;
}

.paragraph-container3{
    display:flex;
    flex-direction:row;
    position:relative;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0px;
    gap: 20px;
    width:auto;
    height:auto;
    background-color: green;
    border-radius: 10px;
    border:2px solid black;
    align-items:center;
}

.header{
    display:flex;
    flex-direction: center;
    position:relative;
    width:45.1vw;
    height:auto;
    background-color: goldenrod;
    border-radius:10px;
    text-align: center;
}

.grid{
    display:flex;
    position:relative;
    gap:24px;
    width:auto;
    height:auto;
}

.column{
    flex:1;      /* Equal width for the columns */
    display:flex;
    flex-direction:column;    /* Vertically stacked */
    gap:24px;
    width:auto;
    height:auto;
    position:relative;
}

.panel{
    border:2px solid black;
    border-radius: 10px;
    padding:4px;
    display:flex;
    flex-direction:column;
    width:auto;
    height:auto;
    position:relative;
    background-color:green;
}

.panel-title{
    text-align:center;
    margin: 0 0 12px 0;
}

/* Each will have equal height */
.image-panel,.text-panel{
    flex: 1;
}

/* Image will fill the top of the panel */
.image-panel{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    width:auto;
    height:auto;
    background-color: white;
    font-family: Merriweather, serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: blue;
    font-size: 30px;
    font-style: normal;
    text-align: center;
}

.image-panel img{
    max-width:100%;
    max-height:100;
    object-fit:cover;
}

.text-panel{
   font-family: Merriweather, serif;
   font-optical-sizing: auto;
   font-weight: 700;
   color: yellow;
   font-size: 30px;
   font-style: normal;
}

.conclusion{
    display:flex;
    flex-direction:row;
    position:relative;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0px;
    gap: 20px;
    width:auto;
    height:auto;
    background-color: green;
    border-radius: 10px;
    border:2px solid black;
    align-items:center;
}