#page-index{
    width:auto;
    height:auto;
    background-color: lightgray;
}

.paragraph-container1{
    display:flex;
    flex-direction:row;
    position:relative;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0px;
    gap: 10px;
    width:auto;
    height:auto;
    background-color: green;
    border-radius: 10px;
    align-items:center;
}

.paragraph-container2{
    display:flex;
    flex-direction:row;
    position:relative;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0px;
    gap: 5px;
    width:auto;
    height:auto;
    background-color: green;
    border-radius: 10px;
    align-items:center;
}

.paragraph-container3{
    display:flex;
    flex-direction:row;
    position:relative;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0px;
    gap: 20px;
    width:auto;
    height:auto;
    background-color: green;
    border-radius: 10px;
    align-items:center;
}

.paragraph-container4{
    display:flex;
    flex-direction:row;
    position:relative;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0px;
    gap: 20px;
    width:auto;
    height:auto;
    background-color: green;
    border-radius: 10px;
    align-items:center;
}

.paragraph-container5{
    display:flex;
    flex-direction:row;
    position:relative;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0px;
    gap: 20px;
    width:auto;
    height:auto;
    background-color: green;
    border-radius: 10px;
    align-items:center;
}

.paragraph-container6{
    display:flex;
    flex-direction:row;
    position:relative;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0px;
    gap: 25px;
    width:auto;
    height:auto;
    background-color: green;
    border-radius: 10px;
    align-items:center;
}

.paragraph-container7{
    display:flex;
    flex-direction:row;
    position:relative;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0px;
    gap: 20px;
    width:auto;
    height:auto;
    background-color: green;
    border-radius: 10px;
    align-items:center;
}

.header{
    display:flex;
    flex-direction: center;
    position:relative;
    width:45vw;
    height:auto;
    background-color: goldenrod;
    border-radius:10px;
}

.image-container1{
    position:relative;
    width:500px;
    height:auto;
    background-color: white;
    border-radius:10px;
}

.image-container2{
    position:relative;
    width:500px;
    height:auto;
    background-color: white;
    border-radius:10px;
}

.image-container3{
    position:relative;
    width:500px;
    height:auto;
    background-color: white;
    border-radius:10px;
}
